{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=aura;Username=aura;Password=YOUR_PASSWORD"
  },
  "Jwt": {
    "Secret": "YOUR_SECRET_KEY_AT_LEAST_32_BYTES_LONG"
  },
  "Frontend": {
    "BaseUrl": "http://localhost:5173"
  },
  "Spotify": {
    "ClientId": "<your-spotify-client-id>",
    "ClientSecret": "<your-spotify-client-secret>",
    "RedirectUri": "http://127.0.0.1:5000/api/profile/spotify/callback",
    "FrontendBaseUrl": "http://localhost:5173"
  }
}